<!DOCTYPE html>
<html>
    <head>
        <title>Segments Stats</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            rel="icon"
            href="{{ request.url_for('static', path='favicon.ico') }}"
        />
        <link
            rel="stylesheet"
            href="{{ request.url_for('static', path='css/styles.css') }}"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
        />
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>

    <body>
        <div>
            <h2>Efforts Statistics for {{location.capitalize()}} Segments</h2>
        </div>
        <div id="charts"></div>
        <script>
            const data = {{ data | tojson }};

            // Convert the data object into an array of [key, value] pairs, sort them based on the total effort count differences
            const sortedData = Object.entries(data).sort((a, b) => {
                // Calculate the total effort count difference for each segment, replacing negative values with 0
                const totalEffortsA = a[1].efforts.reduce((sum, effort) => sum + Math.max(effort.effort_count_diff, 0), 0);
                const totalEffortsB = b[1].efforts.reduce((sum, effort) => sum + Math.max(effort.effort_count_diff, 0), 0);
                // Sort in descending order of total effort count differences
                return totalEffortsB - totalEffortsA;
            });

            // For each segment in the sorted data
            for (const [segmentId, segmentData] of sortedData) {
                // Create a new div element to contain the chart
                const container = document.createElement('div');
                container.className = 'chart-container';
                // Create a new canvas element for the chart
                const canvas = document.createElement('canvas');
                // Add the canvas to the container
                container.appendChild(canvas);

                // Define the line and text colors for the chart
                const lineColor = '#52796f'
                const textColor = '#cad2c5'

                // Create a new anchor element for the subtitle
                const subtitle = document.createElement('a');
                subtitle.href = `https://strava.com/segments/${segmentData.id}`; // replace with your URL
                subtitle.textContent = "Strava Segment"; // replace with your subtitle text
                subtitle.target = '_blank'; // open in a new tab
                subtitle.style.backgroundColor = lineColor; // replace with your highlight color
                subtitle.style.textAlign = 'center'; // center the text
                subtitle.style.display = 'block'; // make it a block element so it appears on a new line
                // Add the subtitle to the container
                container.appendChild(subtitle);

                // Add the container to the charts div
                document.getElementById('charts').appendChild(container);

                // Extract the fetch dates and effort counts from the segment data, replacing negative effort counts with 0
                const labels = segmentData.efforts.map(effort => effort.fetch_date);
                const effortCounts = segmentData.efforts.map(effort => Math.max(effort.effort_count_diff, 0));


                new Chart(canvas, {
                    type: 'line',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'Efforts',
                            data: effortCounts,
                            fill: false,
                            borderColor: lineColor,
                            backgroundColor: lineColor,
                            color: lineColor,
                            pointStyle: 'circle',
                            pointRadius: 7,
                            pointHoverRadius: 10,
                            tension: 0.3,
                            font: {
                                family: 'Montserrat',
                                size: 16,
                            },
                        }]
                    },
                    options: {
                        responsive: true,
                        color: textColor,
                        plugins: {
                            title: {
                            display: true,
                            color: textColor,
                            text: (ctx) => `${segmentData.name}`,
                            font: {
                                size: 20,
                                family: 'Montserrat',
                            },
                        },
                        subtitle: {
                            display: true,
                            color: textColor,
                            text: (ctx) => `${segmentData.id}`,
                            font: {
                                size: 14,
                                family: 'Montserrat',
                            },
                        },
                        legend: {
                            display: false
                        },
                    },
                        scales: {
                            x: {
                                display: true,
                                ticks: {
                                    color: textColor,
                                    font: {
                                        family: 'Montserrat',
                                    },
                                },
                            },
                            y: {
                                display: true,
                                ticks: {
                                    color: textColor,
                                    font: {
                                        family: 'Montserrat',
                                    },
                                    precision: 0,
                                },
                            },
                        },
                    }
                });
            }
        </script>
    </body>
</html>
